@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background: black;
}
.wrapper{
    max-width: 430px;
    background: white;
    margin: 135px auto;
    border: none;
    border-radius: 10px;
    border: solid 0.5px grey;
}
.task-in{
    height: 50px;
    padding: 0 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.task-in input{
height: 80%;
width: 85%;
padding: auto;
border: 1px solid #999;
border-radius: 5px;
outline: none;
}
.task-in input::placeholder{
    color: gray;
    padding: 0 2px;
}
.task-in img{
    width: 40px;
    height: 30px;
    position: relative;
    padding: auto;  
}
.controls,li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    padding: 20px 30px;
    border-bottom: 1px solid gray;
}
.controls .clear-btn{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 13px;
    font-size: 14px;
    cursor: pointer;
}

.filters span{
    margin: 0 4px;
    font-size: 16px;
    cursor: pointer;
}

.filters span:first-child{
    margin-left: 0;
}
.filters span.active{
    color: red;
}

.task-box{
    margin: 20px 40px ;
}
.task-box .task{
    list-style: none;
    font-size: 16px;
    margin-bottom: 16px;
    padding-bottom:12px ;
    border-bottom: 1px solid black;
}
.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label{
    display: flex;
}
.task label input{
    margin-top: 5px;
    margin-right: 10px;
}
.task .settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    position: absolute;
    background:white;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
}
.settings:hover .task-menu{
    transform: scale(1);
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.task-menu li{
    height: 26px;
    font-size: 16px;
    padding: 8px 11px;
    margin-bottom: 3px;
    justify-content: flex-start;
}
.task-menu  li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: #f5f5f5;
}
.task-menu li i{
    padding-right: 8px;
}